<div>
  <h2>Assited Project Component</h2>
  <!-- <app-components-a></app-components-a> -->
  <!-- <app-property-binding></app-property-binding> -->
  <!-- <app-event-binding></app-event-binding> -->
  <!-- <app-two-way-data-binding></app-two-way-data-binding> -->
  <!-- <app-tdf-login-page></app-tdf-login-page>
  <hr/>
<app-mdf-login-page></app-mdf-login-page> -->

<h2>Types of Directives</h2>
<app-structure-directives></app-structure-directives> 
<hr/>
<app-attribute-directives></app-attribute-directives>
</div>